<div id="random-post-title"></div>

<script>
	const allPosts = [
	  {%- for item in site.data.list -%}
	    { affirmation: "{{ item.affirmation | escape }}", link: "affirmationlist#{{ item.link }}" }{%- unless forloop.last -%},{%- endunless -%}
	  {%- endfor -%}
	];

	function getRandomPostTitle() {
	  const randomPost = allPosts[Math.floor(Math.random() * allPosts.length)];
	  return randomPost.affirmation;
	}

	// Div’e yazdır
	document.getElementById("random-post-title").textContent = getRandomPostTitle();
</script>
